.header {
  &__banner-line {
    padding: 10px 0;
    background-color: var(--color-header-banner);
  }

  &__banner-list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-white);
  }

  &__top-line {
    padding: 5px 0;
    background-color: var(--color-header-top);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }

  &__box-logo-mob {
    display: none;
  }

  &__group-right {
    position: relative;
    display: flex;
    gap: clamp(5px, 2vw, 30px);
  }

  &__search-btn {
    display: none;
  }

  &__group-btn-link {
    display: flex;
    align-items: center;
    gap: clamp(7px, 2vw, 50px);
  }

  &__btn-link {
    display: flex;
    gap: 8px;
    align-items: end;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      color: var(--color-text-black);
    }

    &:focus-visible,&:hover,&:active {
      color: var(--color-gray-1);
    }
  }

  &__bottom-line {
    padding: 20px 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-text-white);
  }
}

.group-tooltip {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    a {
      display: flex;
      padding: 4px 13px;
      outline: 1px solid transparent;
      border-radius: 40px;
      background-color: var(--color-red);
      color: var(--color-text-white);
      transition: outline-color 0.4s ease-in-out;

      &:focus,&:focus-visible {
        outline: none;
      }

      &:focus-visible,&:hover,&:active {
        outline-color: var(--color-red);
      }

      &:focus-visible + span,&:hover + span,&:active + span {
        visibility: visible;
        opacity: 1;
      }
    }
    span {
      position: absolute;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      top: 100%;
      left: 0;
      display: flex;
      padding: 4px 13px;
      border-radius: 40px;
      background-color: var(--color-red);
      color: var(--color-text-white);
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
      transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
    &:last-child {
      a {
        background-color: var(--color-gray-2);

        &:focus-visible,&:hover,&:active {
          outline-color: var(--color-gray-2);
        }
      }
      span {
        background-color: var(--color-gray-2);
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    position: relative;
    &__banner-line {
      padding: 0;
    }
    &__top-line {
      padding: 14px 0;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    }
    &__group-tooltip {
      display: none;
    }
    &__burger {
      display: flex;

      .burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        min-width: 32px;
        height: 32px;
        padding: 9px 5px;

        &:focus,&:focus-visible {
          outline: none;
        }

        &:focus-visible,&:hover,&:active {
          span {
            background-color: var(--color-text-gray);
          }
        }

        &.active {
          span {
            position: absolute;
            top: 48%;
            width: 70%;

            &:first-child {
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }

        span {
          display: inline-block;
          width: 100%;
          border-radius: 1000px;
          height: 2px;
          background-color: var(--color-text-white);
          transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
        }
      }
    }
    &__box-logo-mob {
      display: flex;
      a {
        display: flex;
      }
    }
    &__group-btn-link {
      display: none;
    }
    &__search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      min-width: 32px;
      height: 32px;
      color: var(--color-text-white);
      transition: color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--color-text-gray);
      }
    }
    &__bottom-line {
      position: absolute;
      z-index: 3;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-120%);
      width: 100%;
      padding: 20px 0;
      height: calc(100vh - 80px);
      transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
      box-shadow: none;
      &.active {
        visibility: visible;
        opacity: 1;
        transform: none;
      }
      .header__content {
        flex-direction: column;
        gap: 20px;
      }
      .logo {
        display: none;
      }
    }
  }
}