.counter {
  padding: 0 15px;
  width: 100%;
  max-width: 120px;
  max-height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  border: 1px solid var(--color-red);

  &.active {
    display: flex;
  }

  & button {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-3);
    color: var(--color-btn-1);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-text-white);
      background-color: var(--color-red);
    }
  }

  & span {
    max-width: 44px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    & input {
      pointer-events: none;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 187%;
      text-align: center;
      color: var(--color-red);

      &:focus, &:focus-visible {
        outline: none;
      }
    }
  }
}
@media (max-width: 750px) {
  .counter {
    max-width: none;
  }
}