<div class="card-1">
  <svg class="card-1__svg" preserveAspectRatio="none" viewBox="0 0 976 300" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="976" height="300" rx="12" fill="none" />
    <rect x="0.5" y="0.5" width="975" height="299" rx="11.5" stroke="#404040" stroke-opacity="0.2"
      stroke-dasharray="24 24" />
  </svg>
  <img src="@@urlImg" alt="img">
  <a class="card-1__link" href="#">
    <p>
      <span class="card-1__desc-small">@@text1</span>
      <span class="card-1__desc">@@text2</span>
    </p>
  </a>
</div>