<div class="card-2">
  <div class="card-2__box-img">
    <a href="#" class="card-2__img-link">
      <img src="@@urlImg" alt="img">
    </a>
    <span class="card-2__discount">
      -10%
    </span>
  </div>
  <div class="card-2__info">
    <p class="card-2__all-price">
      <span class="price-old">8980 ₽</span>
      <span class="price-new">8082.00 ₽</span>
    </p>
    <a href="#" class="card-2__link">
      <span class="info-name">LACOSTE Футболка Lorem ipsum</span>
      <span class="info-thing">Футболка Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugit repudiandae accusamus quos sit? Sint, libero. Cupiditate dolore quae, deleniti corporis error aliquid in repellat incidunt magni quisquam quam praesentium.</span>
    </a>
    <a href="#" class="card-2__link-subscription">
      с подпиской
      <span>от 5926.80 ₽</span>
    </a>
  </div>
</div>