<div class="drop-down-1">
  <button class="drop-down-1__btn btn-reset">
    <span>
      @@btnText
    </span>
    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 7.5L0 0.5H12L6 7.5Z" fill="currentColor" />
    </svg>
  </button>
  <ul class="drop-down-1__list list-reset">
    <li class="drop-down-1__item">
      <h3 class="drop-down-1__point-title">
        Головные уборы
      </h3>
      <ul class="drop-down-1__point-list list-reset">
        <li>
          <a href="#">
            52-57
          </a>
        </li>
        <li>
          <a href="#">
            55-60
          </a>
        </li>
        <li>
          <a href="#">
            58-63
          </a>
        </li>
      </ul>
    </li>
    <li class="drop-down-1__item">
      <h3 class="drop-down-1__point-title">
        Руки
      </h3>
      <ul class="drop-down-1__point-list list-reset">
        <li>
          <a href="#">
            19
          </a>
        </li>
        <li>
          <a href="#">
            20
          </a>
        </li>
        <li>
          <a href="#">
            21
          </a>
        </li>
        <li>
          <a href="#">
            22
          </a>
        </li>
        <li>
          <a href="#">
            23
          </a>
        </li>
      </ul>
    </li>
    <li class="drop-down-1__item">
      <h3 class="drop-down-1__point-title">
        Ноги
      </h3>
      <ul class="drop-down-1__point-list list-reset">
        <li>
          <a href="#">
            39-41
          </a>
        </li>
        <li>
          <a href="#">
            42-44
          </a>
        </li>
        <li>
          <a href="#">
            45-48
          </a>
        </li>
      </ul>
    </li>
    <li class="drop-down-1__item">
      <h3 class="drop-down-1__point-title">
        Ремни
      </h3>
      <ul class="drop-down-1__point-list list-reset">
        <li>
          <a href="#">
            70
          </a>
        </li>
        <li>
          <a href="#">
            80
          </a>
        </li>
        <li>
          <a href="#">
            85
          </a>
        </li>
        <li>
          <a href="#">
            90
          </a>
        </li>
        <li>
          <a href="#">
            100
          </a>
        </li>
        <li>
          <a href="#">
            110
          </a>
        </li>
        <li>
          <a href="#">
            115
          </a>
        </li>
      </ul>
    </li>
    <li class="drop-down-1__item">
      <h3 class="drop-down-1__point-title">
        Шнурки
      </h3>
      <ul class="drop-down-1__point-list list-reset">
        <li>
          <a href="#">
            274
          </a>
        </li>
      </ul>
    </li>
    <li class="drop-down-1__item"></li>
  </ul>
</div> 
