<div class="list-links">
  <ul class="list-links__items list-reset">
    <li>
      <a href="#" class="list-links__link">
        <p>
          <span class="list-links__desc">Женщины</span>
          <span class="list-links__desc-small">[4 075]</span>
        </p>
      </a>
    </li>
    <li>
      <a href="#" class="list-links__link">
        <p>
          <span class="list-links__desc">мужчины</span>
          <span class="list-links__desc-small">[7 486]</span>
        </p>
      </a>
    </li>
    <li>
      <a href="#" class="list-links__link">
        <p>
          <span class="list-links__desc">дети</span>
          <span class="list-links__desc-small">[1 727]</span>
        </p>
      </a>
    </li>
    <li>
      <a href="#" class="list-links__link">
        <p>
          <span class="list-links__desc">унисекс</span>
          <span class="list-links__desc-small">[2 079]</span>
        </p>
      </a>
    </li>
  </ul>
</div>