<div class="top-info">
  <div class="top-info__left">
    <span>[15 379]</span>
    <h1 class="top-info__title">
      КАТАЛОГ
    </h1>
  </div>
  <div class="top-info__wrapp-btn-filter">
    <button class="top-info__btn-filter btn-reset" id="filterBtn">
      <span>Фильтры</span>
      <svg width="14" height="10" viewBox="0 0 14 10" fill="none">
        <use xlink:href="img/sprite.svg#filter"></use>
      </svg>
    </button>
  </div>
  <div class="top-info__wrapp-card">
    <div class="top-info__card">
      <svg class="top-info__svg" width="281" preserveAspectRatio="none" height="82" viewBox="0 0 281 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="281" height="82" rx="12" fill="none"/>
        <rect x="0.5" y="0.5" width="280" height="81" rx="11.5" stroke="#404040" stroke-opacity="0.2" stroke-dasharray="24 24"/>
      </svg>
      <img src="img/section-1/2.jpg" alt="img">
      <div class="top-info__desc-wrapp">
        <p>
          <span class="top-info__desc-small">одежда</span>
          <span class="top-info__desc">[8 655]</span>
        </p>
      </div>
    </div>
  </div>
</div>